<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.readnativedata" version="1.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>ReadNativeData</name>
	<js-module name="ReadNativeData" src="www/ReadNativeData.js">
		<clobbers target="ReadNativeData" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="ReadNativeData">
				<param name="ios-package" value="ReadNativeData" />
			</feature>
		</config-file>
		<source-file src="src/ios/ReadNativeData.m" />
	</platform>
</plugin>